*{margin: 0%;
padding: 0%;}

header{
    background-color: blueviolet;
    color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.imagem-principal{width: 20%;}